*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(192, 233, 219);
    font-family: Arial, Helvetica, sans-serif;
}


.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;

}
.heading{
    font-weight: 700;
    font-size: 2rem;
}

.fields{
     display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 1rem;
    width: 400px;
    font-size: 1em;
}
.input{
   background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: gray;
    padding: 2px;
    outline: none;
}
.individual-field{
    display: flex;
    flex-direction: row;
    
    gap: 0.5rem;
}